# Logistic Regression

In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [108]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']

df=pd.read_csv('D:\\DataSets\\diabetes.csv',names=col_names)
df.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [109]:
features=['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age']
X= df[features]
y=df.label
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: label, Length: 768, dtype: int64

In [110]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
X_train

     pregnant  glucose  bp  skin  insulin   bmi  pedigree  age
580         0      151  90    46        0  42.1     0.371   21
418         1       83  68     0        0  18.2     0.624   27
764         2      122  70    27        0  36.8     0.340   27
363         4      146  78     0        0  38.5     0.520   67
757         0      123  72     0        0  36.3     0.258   52
..        ...      ...  ..   ...      ...   ...       ...  ...
763        10      101  76    48      180  32.9     0.171   63
192         7      159  66     0        0  30.4     0.383   36
629         4       94  65    22        0  24.7     0.148   21
559        11       85  74     0        0  30.1     0.300   35
684         5      136  82     0        0   0.0     0.640   69

[537 rows x 8 columns]

In [111]:
regressor=LogisticRegression()

In [112]:
regressor.fit(X_train,y_train)

c:\users\shubha\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [118]:
y_pred=regressor.predict(X_test)

In [114]:
from sklearn.metrics import classification_report,confusion_matrix

In [115]:
confusion_matrix(y_test,y_pred)

array([[141,  16],
       [ 35,  39]], dtype=int64)

In [116]:
regressor.predict([[6,150,72,35,0,33.6,0.627,10]])

array([1], dtype=int64)